.myclass {

  display: flex; 
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}
.contactrow1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contactform {
  width: 45%;
}

.contactaddress {
  width: 45%;
}

@media (max-width: 768px) {
  .contactrow1 {
    width: 380px;
    flex-wrap: wrap;
    padding: 5px;
  }

  .contactform {
    width: 380px;
  }

  .contactaddress {
    width: 380px;
  }
}
