.footermain {
  background-color: rgb(47, 47, 47);
  color: white;
  padding: 30px;
}

.footericon {
  display: flex;
  color: rgb(224, 132, 40);
  margin-top: 20px;
  font-size: x-large;
}

.footerrow1 {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 5px;
}

ul li span {
  color: #ff9100;
}


.footerlogo {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  font-family: 'Algerian', sans-serif;
}
.footerlogo img {
  height: 70px;
}

.footerlogo h2 {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footerrow1 {
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 20px;
  }

  .footerlogo {
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  .footerlogo h2 {
    color: white;
  }

  .footericon {
    margin: 2px;
    gap: 10px;
  }

  .footerlinks ul {
    padding: 0;
    margin: 0;
  }

  .footermain {
    padding: 0;
    margin: 0;
    text-align: left;
  }

  ro .footerlinks li span {
    height: 0;
    width: 0;
    display: none;
    opacity: 0;
  }
}


