.main {
  background-color: #f68a15;
  color: white;
  display: flex;
  justify-content: space-between;

}

.socialMediaIcon {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.contact {
  display: flex;
  justify-content: end;
}

@media (max-width:768px) {

  .main {

    height: 0;
    width: 0;
    opacity: 0;
    display: none;

  }

  .contact {
    height: 0;
    width: 0;
    opacity: 0;
    display: none;
  }
}